# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Jupyter Notebook temporary files
~$*
*.swp
*.bak

# VS Code
.vscode/

# Logs
*.log

# Jupyter Notebook metadata (optional)
.jupyter/

# Ignore the guide files
/examples

# Ignore the python virtual enviroment folders
**/adst/
/env

# Ignore cache and temporary files
__pycache__/

# Ignore some pdf files
RS_Chap_LPCM.pdf